.ask-query{
    margin-top: 5%; margin-left: -15%;
}

.ask-query button{
    margin-top: -18%; width: 7%; background-color: aliceblue; color: black;
}

.ask-query button:hover{
    background-color: blue; color: aliceblue;
}